<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Timer</h1>

    <!-- Formulier om de timer in te stellen -->
    <form id="timer-form">
        <div class="form-control">
            <label for="hours">Uren:</label>
            <input type="number" id="hours" name="hours" min="0" max="23" required>
        </div>
        <div class="form-control">
            <label for="minutes">Minuten:</label>
            <input type="number" id="minutes" name="minutes" min="0" max="59" required>
        </div>
        <div class="form-control">
            <label for="seconds">Seconden:</label>
            <input type="number" id="seconds" name="seconds" min="0" max="59" required>
        </div>
        <button id="startTimer" type="submit">Start Timer</button>
        <button id="stopTimer" type="submit">Stop Timer</button>
        <p class="error"></p>
    </form>
    
    <div class="message">
        <p id="response-message"></p>
        <p id="timer-status"></p>
    </div>
    
    <script>
        // Selecteer de start- en stopknoppen en andere elementen uit de DOM
        const btnStart = document.querySelector('#startTimer');
        const btnStop = document.querySelector('#stopTimer');
        const message = document.querySelector('.message');
        let statusElement = document.querySelector('#timer-status');
        let pResponse = document.querySelector('#response-message');
        let pError = document.querySelector('.error');
        // Variabele voor het interval om de tijd bij te houden
        let interval; 

        // Verberg de stopknop en het bericht bij het laden van de pagina
        btnStop.style.display = "none";
        message.style.display = "none";

        // Voeg een eventlistener toe voor de startknop
        btnStart.addEventListener('click', function(e) {
            e.preventDefault(); // Voorkom standaardformulieractie

            // Verkrijg de ingevoerde waarden voor uren, minuten en seconden
            let hours = document.querySelector('#hours').value;
            let minutes = document.querySelector('#minutes').value;
            let seconds = document.querySelector('#seconds').value;

            // Controleer of alle velden zijn ingevuld
            if (hours === "" || minutes === "" || seconds === "") {
                alert("Vul uren, minuten en seconden in.");
                return; // stop als velden leeg zijn
            }

            pError.innerHTML = ''; // Wis eventuele vorige foutmeldingen

            // Controleer of de waarden binnen de toegestane intervallen vallen
            if (hours < 0 || hours > 23 || minutes < 0 || minutes > 59 || seconds < 0 || seconds > 59) {
                pError.innerHTML = "Het aantal uren moet tussen 0 en 23 liggen, minuten tussen 0 en 59, en seconden tussen 0 en 59.";
            } else {
                // Stuur een POST-aanvraag naar de server om de timer te starten
                fetch('/start_timer', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ hours: parseInt(hours), minutes: parseInt(minutes), seconds: parseInt(seconds) }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Netwerkantwoord was niet OK.');
                    }
                    return response.json(); // Verwerk het JSON-antwoord
                })
                .then(data => {
                    // Toon een bericht met de startwaarden van de timer
                    pResponse.innerText = `Timer gestart: ${data.hours} uren, ${data.minutes} minuten en ${data.seconds} seconden.`;
                    startPolling(); // Start de polling om de timerstatus op te halen
                })
                .catch((error) => {
                    console.error('Error:', error);
                    alert('Er is een fout opgetreden bij het starten van de timer.');
                });

                // Functie voor het bijhouden van de timerstatus
                function startPolling() {
                    // Stel een interval in dat elke seconde de status van de timer ophaalt
                    interval = setInterval(() => {
                        fetch('/check_timer')
                        .then(response => response.json())
                        .then(data => {
                            if (data.status === 'done') {
                                clearInterval(interval); // Stop de polling als de timer is afgelopen
                                statusElement.innerHTML = `De timer is afgelopen.`;
                                btnStart.style.display = "block"; // Toon de startknop opnieuw
                                btnStop.style.display = "none"; // Verberg de stopknop
                            } else if (data.status === 'stopped') {
                                clearInterval(interval); // Stop de polling als de timer is gestopt
                                statusElement.innerHTML = `De timer is gestopt.`;
                            } else {
                                statusElement.innerHTML = `De timer loopt nog.`; // Update de status als de timer nog loopt
                            }
                        });
                    }, 1000); // Poll elke seconde
                }

                // Wis de waarden van de invoervelden na het starten van de timer
                let fields = document.querySelectorAll('input[type=number]');
                fields.forEach(function(field) {
                    field.value = ''; // Stel de waarde van elk veld in op leeg
                });

                // Verberg de startknop en toon de stopknop na het starten van de timer
                btnStart.style.display = "none";
                btnStop.style.display = "block";
                message.style.display = "flex"; // Toon een bericht na het starten

                // Voeg een eventlistener toe voor de stopknop
                btnStop.addEventListener('click', function(e) {
                    e.preventDefault(); // Voorkom standaardformulieractie

                    // Stuur een GET-aanvraag naar de server om de timer te stoppen
                    fetch('/stop_timer', {
                        method: 'GET',
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Netwerkantwoord was niet OK.');
                        }
                        return response.json(); // Verwerk het JSON-antwoord
                    })
                    .then(data => {
                        clearInterval(interval); // Stop de polling bij het stoppen van de timer
                        pResponse.innerHTML = `Timer is gestopt.`; // Toon een bericht dat de timer is gestopt
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        alert('Er is een fout opgetreden bij het stoppen van de timer.');
                    });

                    // Verberg de stopknop en toon de startknop opnieuw na het stoppen van de timer
                    btnStop.style.display = "none";
                    btnStart.style.display = "block";
                });
            }
        });
    </script>    
</body>
</html>
